* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

#calc-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  background-color: darkgray;
  border: solid rgb(45, 45, 45) 2px;
  border-radius: 12px;
  width: 370px;
  height: 520px;
  padding: 16px;
}

#display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  box-sizing: border-box;
  height: 21%;
  margin-bottom: 16px;
  padding: 12px;
  border: solid rgb(45, 45, 45) 2px;
  border-radius: 6px;
  /* background-color: #f1f1f1; */
  background-color: rgb(85, 85, 85);
  text-align: right;
  font-size: 48px;
  font-family: 'Segment7Standard', 'Courier New', Courier, monospace;
  font-weight: normal;
  color: #39FF14;
  text-shadow: #31d315 0px 0px 6px;
}

#button-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 76%;
}

button {
  appearance: none;
  box-sizing: border-box;
  border: solid rgb(45, 45, 45) 2px;
  border-radius: 6px;
  width: 84px;
  height: 70px;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  color: rgb(45, 45, 45);
  transition: all .07s ease;
  cursor: pointer;
  /* box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset; */
}

button:hover {
  filter: brightness(92%);
}

button:active {
  filter: brightness(85%);
}

button.active {
  filter: brightness(85%);
}

button.number {
  background-color: rgb(230, 230, 230);
}

button.operation,
button.equals {
  background-color: darkorange;
  color: white;
}

button.ac,
button.del {
  background-color: tomato;
  color: white;
}

button.percent,
button.pos-neg,
button.decimal {
  background-color: rgb(23, 166, 255);
  color: white;
}

button.operation.selected {
  border: solid yellow 4px;
}