* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 72px; */
  /* margin-top: 36px; */
  background-color: #f1f1f1;
}

#calc-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  background-color: darkgray;
  border: solid rgb(45, 45, 45) 2px;
  border-radius: 12px;
  width: 370px;
  height: 520px;
  padding: 16px;
}

#display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  box-sizing: border-box;
  height: 21%;
  margin-bottom: 16px;
  padding: 12px;
  border: solid rgb(45, 45, 45) 2px;
  border-radius: 6px;
  background-color: #f1f1f1;
  font-size: 48px;
  text-align: right;
}

#display,
button {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(45, 45, 45);
  font-weight: 700;
}

#button-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 76%;
}

button {
  appearance: none;
  box-sizing: border-box;
  border: solid rgb(45, 45, 45) 2px;
  border-radius: 6px;
  width: 84px;
  height: 70px;
  font-size: 24px;
}

button:hover {
  filter: brightness(95%);
}

button.number {
  background-color: lightsteelblue;
}

button.operation {
  background-color: darkorange;
  color: white;
}